* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*      CUSTOM VARIABLES         */

:root {
    --fw-n: 400;
    --fw-b: 700;

    --fs-p1: 1.125rem;
    --fs-p2: 1rem;
    --fs-h1: 2.5625rem;
    --fs-h2: 1.25rem;
    --fs-h3: 1rem;

    --primary-font-clr: #747B95;
    --primary-header-clr: #333950;
    --dark-background-clr: #25293A;
    --darkblue-clr: #5175FF;
    --lightblue-clr: #829CFF;
    --red-clr: #F05B5B;
}

/*      GLOBAL LAYOUT SETTING        */

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--primary-font-clr);
    line-height: 26px;
    text-align: center;
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: var(--fs-h1);
    color: var(--primary-header-clr);
    line-height: 48px;
    margin-top: 3rem;
}
/*      BUTTONS LAYOUT      */

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1em 3em;
    border: none;
    border-radius: 27.9px;
    font-weight: var(--fw-b);
}

.btn--darkblue {
    background: var(--darkblue-clr);
    color: white;
}

.btn--darkblue:hover,
.btn--darkblue:focus {
    background: var(--lightblue-clr);
}


/* ==========================
        HEADER
===========================*/
header {
    background: #f2f2f2 url(./assets/home/bg-pattern-header.svg) no-repeat center -170px;
    background-size: 458px 458px;
    height: 110vh;
    padding-top: 48px;
}

@media (min-width: 600px) {
    .header__img-logo {
        display: block;
        text-align: left;
    }
}
/* ==========================
        MAIN
===========================*/
main {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.hero__text {
    margin-top: 2rem;
}

.hero__timer {
    margin-top: 4rem;
}

/*  TIMER   */

.timer__text {
    text-transform: uppercase;
    font-weight: var(--fw-b);
    letter-spacing: 5px;
    margin-bottom: 2em;
}

.timer__text--date {
    color: var(--darkblue-clr);
}

.timer__countdown-cards {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

.countdown-card {
    width: 70px;
    height: 100px;
    background-color: var(--primary-header-clr);
    border-radius: 5px;
}

.countdown-card__number {
    font-size: 2rem;
    font-weight: var(--fw-b);
    margin-top: 2rem;
}

.countdown-card__unit {
    font-size: 0.75rem;
    opacity: 0.5;
    font-weight: var(--fw-b);
}

/*      countdown MODIFICATIONS        */

.countdown-card__number--signup {
    color: var(--darkblue-clr);
}
.countdown-card--signup {
    background: rgba(81, 117, 255, 0.15);
}

.footer__coming--signup {
    color: var(--primary-header-clr);
}

.countdown-card__unit--signup {
    color: var(--primary-header-clr);
    opacity: 1;
}

@media (min-width: 770px) {
    .countdown-card {
        width: 90px;
        height: 110px;
    }

    .countdown-card__number {
        font-size: 2.5rem;
        margin: 2.5rem 0 0.5rem;
        
    }

    .countdown-card__unit {
        font-size: 1rem;
    }
}

/*      Signup Form         */

form {
    border-radius: 13px;
    background: white;
    padding: 1.5em 2em;
    color: var(--primary-font-clr);
    margin-top: 4rem;
}

select {
    appearance: none;
    background: #fff url(./assets/sign-up/icon-arrow-down.svg) no-repeat right center;
}

input, select {
    font-family: inherit;
    font-size: inherit;
    opacity: 0.75;
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    padding: 1.5em;
    /* outline is the border of the field when selected / focus */
    outline: none; 
}

.form__select--accent {
    font-weight: var(--fw-b);
}

input:invalid {
    border-bottom: 1px solid red;
    background: url(./assets/sign-up/icon-cross.svg) no-repeat right center;
}

input:focus {
    border-bottom: 1px solid grey;
}

.btn--optin {
    width: 100%;
    margin-top: 3em;
    padding: 1.2em;
    font-size: 1rem;
}

/* ==========================
        FOOTER
===========================*/
footer {
    height: 45vh;
    background: var(--dark-background-clr) url(./assets/home/bg-pattern-footer.svg) no-repeat center;
    background-size: 800px 800px;
}

@media (min-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: 70% 30%;
    }

    header {
        height: 100vh;
        background-image: none;
    }

    footer {
        height: 100vh;
    }

    main {
        max-width: none;
        text-align: left;
        margin-top: 4em;
        display: grid;
        grid-template-columns: 40vw 40vw;
        column-gap: 4rem;
    }

    .hero__content {
        grid-column: 1;
        grid-row: 1;
    }

    .timer__countdown-cards {
        margin: 0;
        text-align: center;
    }

    form {
        grid-column: 2;
        grid-row: 1;
        max-width: 90%;
        margin: 0 auto;
    }

}
